.dmg-read-more__spinner.components-spinner {
	margin: 1rem auto;
	display: block;
}

.dmg-read-more__pagination-controls {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dmg-read-more__pagination-label {
	display: inline-flex;
	margin: 0 1rem;
}
